@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	/* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
	background-color: #090c1d;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.large {
	font-size: 4rem;
}

.rise {
	/* text-shadow: -0.01em -0.01em 0.01em white; */
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		/* text-shadow: 0em 0.01em white, 0em 0.02em white, 0em 0.02em 0.03em white,
			-0.01em 0.01em white, -0.02em 0.02em white, -0.03em 0.03em white,
			-0.04em 0.04em white, -0.01em -0.01em 0.03em white,
			-0.02em -0.02em 0.03em white, -0.03em -0.03em 0.03em white; */
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.outline {
	background-clip: text;
	color: #ffdd40;
	animation: outline 1s ease-in-out 1.5s forwards;
}

@keyframes outline {
	from {
		text-shadow: 0em -7em 10em #fff;
	}
	to {
		text-shadow: 0 0.02em #fff, 0.02em 0 #fff, -0.02em 0 #fff, 0 -0.02em #fff;
	}
}

.example_wrapper {
	transition: 0.5s transform ease-out;
	transform-origin: center;
	/* transform: skewX(-10deg) translateZ(0); */
	&:hover {
		transform-origin: center;
		transform: skewX(-10deg) scale(1.1) translateZ(0);
	}
	&:hover .animate-image {
		animation: fadeIn 0.8s ease-in-out;
	}
}
.example_wrapper2 {
	transition: 0.5s transform ease-out;
	transform-origin: center;
	/* transform: skewX(-10deg) translateZ(0); */
	&:hover {
		transform-origin: center;
		/* transform: skewX(-10deg) translateZ(0); */
	}
	&:hover .animate-image {
		animation: fadeIn 0.8s ease-in-out;
	}
}

.shiftUp {
	transform: skewX(-10deg) translateZ(0) translate3d(-20px, 0, 0);
}

.shiftDown {
	transform: skewX(-10deg) translateZ(0) translate3d(20px, 0, 0);
}

.example_wrapper:after,
.example_wrapper2:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-image: linear-gradient(
		1deg,
		rgba(38, 171, 227, 0) -0.3%,
		rgba(38, 171, 227, 0.5) 49.45%,
		rgba(45, 57, 143, 0) 99.54%,
		rgba(38, 171, 227, 0) 99.54%
	);
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.example_wrapper:hover:after,
.example_wrapper2:hover:after {
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.show_bg_2 {
	background: url("/images/image824.png") lightgray 50% / cover no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
	color: white;

	position: relative;
}
.show_bg_2::before {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(
		to bottom,
		rgba(9, 12, 29, 1),
		rgba(0, 3, 26, 0.8),
		rgba(0, 3, 27, 1)
	);

	position: absolute;
}
.swiper {
	overflow: unset !important;
}
